<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2>Customer Name:</h2>
<form method="POST" action="/bill">
  <input type="text" name="customer_name" required><br><br>

  {% for item in menu %}
    <div>
      <input type="checkbox" name="items" value="{{ item.name }}">
      {{ item.name }} - ₹{{ item.price }}
      Qty: <input type="number" name="quantity" min="1" max="10">
    </div>
  {% endfor %}
  <br>
  <input type="submit" value="Generate Bill">
</form>

</body>
</html>